:root {
  --font-family-primery: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --text-color-primery-dark: #212121;
  --primery-color-dark-rgb: 33, 33, 33;
  --text-color-secondary-medium: #757575;
  --secondary-color-medium-rgb: 117, 117, 117;
  --tertiary-color-lite: #ffffff;
  --tertiary-color-lite-rgb: 255, 255, 255;
  --text-color-accent: #2196f3;
  --text-color-accent-rgb: 33, 150, 243;
  --background-color-hero: #c4c4c4;
  --background-color-active-btn: #188ce8;
  --background-color-btn-lite: #f5f4fa;
  --background-color-secondary: #2f303a;
  --background-color-secondary-rgb: 47, 48, 58;
  --temporary-color: #000000;
  --temporary-color-rgb: 0, 0, 0;
  --shadow-color-btn: rgba(0, 0, 0, 0.25);
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --icon-color-primery: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-family-primery);
  color: var(--text-color-primery-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--text-color-accent);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.section--other-background {
  background-color: var(--background-color-btn-lite);
}

@media screen and (max-width: 1199px) {
  .section__title--missing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section--no-padding-top {
  padding-top: 0px;
}

.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
  margin-right: auto;
}

.logo__header {
  color: var(--temporary-color);
}

.logo__footer {
  color: var(--tertiary-color-lite);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 92px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--temporary-color-rgb), 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--tertiary-color-lite);
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.25);
}

.modal-btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(var(--temporary-color-rgb), 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal-btn-close:focus {
  outline: none;
}

.modal-btn-close .icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
  fill: var(--text-color-accent);
}

.contact-form-appeal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primery-dark);
}

.contact-form__field {
  display: block;
  margin-bottom: 20px;
}

.contact-form__item {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary-medium);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment::placeholder {
  color: rgba(var(--secondary-color-medium-rgb), 0.5);
  font-size: 12px;
  line-height: 1.17em;
}

.contact-form__comment:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.contact-form__checkbox-label::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/svg/modal-icon-check.svg");
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.15);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--text-color-accent);
}

.contact-form__checkbox:checked + .contect-form__checkbox-label::before {
  background-color: var(--text-color-accent);
  background-image: url("../images/svg/modal-check-active.svg");
}

.agreement-conditions-link {
  color: var(--text-color-accent);
}

.basic-btn {
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--text-color-accent);
  color: var(--tertiary-color-lite);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basic-btn:hover, .basic-btn:focus {
  background-color: var(--background-color-active-btn);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--temporary-color-rgb), 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--tertiary-color-lite);
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.25);
}

.modal-btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(var(--temporary-color-rgb), 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal-btn-close:focus {
  outline: none;
}

.modal-btn-close .icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
  fill: var(--text-color-accent);
}

.contact-form-appeal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primery-dark);
}

.contact-form__field {
  display: block;
  margin-bottom: 20px;
}

.contact-form__item {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary-medium);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment::placeholder {
  color: rgba(var(--secondary-color-medium-rgb), 0.5);
  font-size: 12px;
  line-height: 1.17em;
}

.contact-form__comment:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.contact-form__checkbox-label::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/svg/modal-icon-check.svg");
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.15);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--text-color-accent);
}

.contact-form__checkbox:checked + .contect-form__checkbox-label::before {
  background-color: var(--text-color-accent);
  background-image: url("../images/svg/modal-check-active.svg");
}

.agreement-conditions-link {
  color: var(--text-color-accent);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color-primery);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--text-color-accent);
  fill: var(--tertiary-color-lite);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link--other-background {
  background-color: rgba(var(--tertiary-color-lite-rgb), 0.1);
}

.header {
  border-bottom: 1px solid var(--border-color-header);
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.navigation {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav-list,
  .contact {
    display: none;
  }
  .btn-burger {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  .btn-burger:hover, .btn-burger:focus {
    fill: var(--text-color-accent);
  }
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact {
    color: var(--text-color-secondary-medium);
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .nav-list__link,
  .contact__link {
    position: relative;
    color: currentColor;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--active.nav-list__link::after {
    content: "";
    height: 4px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -33px;
    background-image: url("../images/svg/hover.svg");
  }
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-hero);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../../images/mob/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color-lite);
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
  filter: drop-shadow(0px 4px 4px var(--shadow-color-btn));
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../../images/tab/hero.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../../images/desc/hero.jpg);
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages {
  margin-bottom: -30px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-btn-lite);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }
  .advantages__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  .advantages__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
  }
  .our-work__item {
    position: relative;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
  }
  .our-work__label {
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color-lite);
    background: rgba(var(--background-color-secondary-rgb), 0.8);
  }
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--tertiary-color-lite);
}

.our-team__person {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .our-team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
/*# sourceMappingURL=main.css.map */