:root {
  --font-family-primery: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --text-color-primery-dark: #212121;
  --primery-color-dark-rgb: 33, 33, 33;
  --text-color-secondary-medium: #757575;
  --secondary-color-medium-rgb: 117, 117, 117;
  --tertiary-color-lite: #ffffff;
  --tertiary-color-lite-rgb: 255, 255, 255;
  --text-color-accent: #2196f3;
  --text-color-accent-rgb: 33, 150, 243;
  --background-color-hero: #c4c4c4;
  --background-color-active-btn: #188ce8;
  --background-color-btn-lite: #f5f4fa;
  --background-color-secondary: #2f303a;
  --background-color-secondary-rgb: 47, 48, 58;
  --temporary-color: #000000;
  --temporary-color-rgb: 0, 0, 0;
  --shadow-color-btn: rgba(0, 0, 0, 0.25);
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --icon-color-primery: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-family-primery);
  color: var(--text-color-primery-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover, a:focus {
  color: var(--text-color-accent);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.section--other-background {
  background-color: var(--background-color-btn-lite);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
}

.logo__header {
  color: var(--temporary-color);
}

.logo__footer {
  color: var(--tertiary-color-lite);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--temporary-color-rgb), 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px;
  border-radius: 4px;
  background-color: var(--tertiary-color-lite);
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.25);
}

.modal-btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(var(--temporary-color-rgb), 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal-btn-close:focus {
  outline: none;
}

.modal-btn-close .icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
  fill: var(--text-color-accent);
}

.contact-form-appeal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primery-dark);
}

.contact-form__field {
  display: block;
  margin-bottom: 20px;
}

.contact-form__item {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary-medium);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment::placeholder {
  color: rgba(var(--secondary-color-medium-rgb), 0.5);
  font-size: 12px;
  line-height: 1.17em;
}

.contact-form__comment:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.contact-form__checkbox-label::before {
  display: inline-block;
  margin-right: 8px;
  content: " ";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/svg/modal-icon-check.svg");
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.15);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--text-color-accent);
}

.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-color: var(--text-color-accent);
  background-image: url("../images/svg/modal-icon-check-active.svg");
}

.agreement-conditions-link {
  color: var(--text-color-accent);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .contact-form-appeal {
    line-height: 1.15em;
  }
  .contact-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71em;
  }
}

.basic-btn {
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--text-color-accent);
  color: var(--tertiary-color-lite);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basic-btn:hover, .basic-btn:focus {
  background-color: var(--background-color-active-btn);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--temporary-color-rgb), 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px;
  border-radius: 4px;
  background-color: var(--tertiary-color-lite);
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.25);
}

.modal-btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(var(--temporary-color-rgb), 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal-btn-close:focus {
  outline: none;
}

.modal-btn-close .icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
  fill: var(--text-color-accent);
}

.contact-form-appeal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primery-dark);
}

.contact-form__field {
  display: block;
  margin-bottom: 20px;
}

.contact-form__item {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary-medium);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment::placeholder {
  color: rgba(var(--secondary-color-medium-rgb), 0.5);
  font-size: 12px;
  line-height: 1.17em;
}

.contact-form__comment:focus {
  outline: none;
  border-color: var(--text-color-accent);
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.contact-form__checkbox-label::before {
  display: inline-block;
  margin-right: 8px;
  content: " ";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/svg/modal-icon-check.svg");
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.15);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--text-color-accent);
}

.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-color: var(--text-color-accent);
  background-image: url("../images/svg/modal-icon-check-active.svg");
}

.agreement-conditions-link {
  color: var(--text-color-accent);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .contact-form-appeal {
    line-height: 1.15em;
  }
  .contact-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71em;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color-primery);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--text-color-accent);
  fill: var(--tertiary-color-lite);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link--other-background {
  background-color: rgba(var(--tertiary-color-lite-rgb), 0.1);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-color-lite);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 2;
  }
  .mobile-menu__nav-list {
    padding-left: 25px;
  }
  .mobile-menu__btn-close {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__btn-close:focus {
    fill: var(--text-color-accent);
  }
  .mobile-menu__nav-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18em;
    letter-spacing: 0.02em;
    color: var(--text-color-primery-dark);
  }
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-list {
    margin-top: auto;
    margin-bottom: 64px;
    padding-left: 25px;
  }
  .mobile-menu__contact-item--tel {
    font-size: 34px;
    line-height: 1.18em;
    color: var(--text-color-accent);
    margin-bottom: 32px;
  }
  .mobile-menu__contact-item--mail {
    font-size: 28px;
    line-height: 1.43em;
    color: var(--text-color-secondary-medium);
  }
  .mobile-menu__contact-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__social-list {
    display: flex;
    padding-left: 25px;
  }
  .mobile-menu__social-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22em;
    color: var(--text-color-accent);
  }
  .mobile-menu__social-item:not(:last-child) {
    border-right: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
    padding-right: 10px;
  }
  .mobile-menu__social-item:not(:first-child) {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-bottom: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color-primery);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color-primery);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--text-color-accent);
  border: 1px solid var(--text-color-accent);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.footer {
  background-color: var(--background-color-secondary);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__container {
  text-align: center;
}

.foter__section {
  margin-bottom: 60px;
}

.footer__address {
  margin-top: 20px;
}

.footer__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__addresses-link {
  color: var(--tertiary-color-lite);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact-link {
  color: rgba(var(--tertiary-color-lite-rgb), 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter__section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--tertiary-color-lite);
  margin-bottom: 20px;
}

.foter-subscription__field {
  display: block;
  margin-bottom: 20px;
}

.foter-subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(var(--tertiary-color-lite-rgb), 0.3);
  filter: drop-shadow(0px 4px 4px rgba(var(--temporary-color-rgb), 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-family: var(--font-family-primery);
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(var(--tertiary-color-lite-rgb), 0.6);
}

.foter-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(var(--tertiary-color-lite-rgb), 0.6);
}

.foter-subscription__btn {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-primery);
  padding: 10px 29px;
  filter: drop-shadow(0px 4px 4px var(--shadow-color-btn));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-subscription__icon {
  fill: currentColor;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .foter__section {
    margin-bottom: 0px;
  }
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .foter-subscription__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foter-subscription {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: start;
  }
  .foter__section--first {
    margin-right: 70px;
  }
  .foter-subscription {
    margin-left: auto;
  }
  .foter-subscription__input {
    width: 358px;
  }
  .foter-subscription__field {
    display: inline-block;
    margin-right: 10px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: -30px;
}

.projects__item {
  margin-bottom: 30px;
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(var(--temporary-color-rgb), 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(var(--temporary-color-rgb), 0.16);
  color: var(--text-color-primery-dark);
}

.projects__overlay {
  position: relative;
  overflow: hidden;
}

.projects__overlay--description {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  background-color: rgba(var(--text-color-accent-rgb), 0.9);
  color: var(--tertiary-color-lite);
}

.projects__decor {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}

.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.projects__link:hover .projects__overlay--description,
.projects__link:focus .projects__overlay--description {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .projects {
    justify-content: start;
    margin-top: 30px;
    margin-left: -30px;
  }
  .projects__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-top: 50px;
  }
  .projects__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.filter-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
}

.filter-list__item {
  margin-top: 15px;
  margin-left: 8px;
}

.filter-list__btn {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--background-color-btn-lite);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--background-color-active-btn);
  color: var(--tertiary-color-lite);
  filter: drop-shadow(0px 4px 4px var(--shadow-color-btn));
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-top: 0;
  }
  .filter-list__item {
    margin-top: 0;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color-header);
  height: 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}

.navigation {
  display: flex;
}

.nav-list__link--active,
.mobile-menu__nav-link--active {
  color: var(--text-color-accent);
}

@media screen and (max-width: 767px) {
  .nav-list,
  .contact {
    display: none;
  }
  .btn-burger {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  .btn-burger:hover, .btn-burger:focus {
    fill: var(--text-color-accent);
  }
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .nav-list :content {
    color: var(--text-color-accent);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact {
    color: var(--text-color-secondary-medium);
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .nav-list__link,
  .contact__link {
    position: relative;
    color: currentColor;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--active {
    color: var(--text-color-accent);
  }
  .nav-list__link--active.nav-list__link::after {
    content: "";
    height: 4px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -33px;
    background-image: url("../images/svg/hover.svg");
  }
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 92px;
  }
  .contact {
    display: flex;
    align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-hero);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../images/mob/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color-lite);
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
  filter: drop-shadow(0px 4px 4px var(--shadow-color-btn));
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../images/mob/hero@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../images/tab/hero.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../images/tab/hero@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../images/desc/hero.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(var(--background-color-secondary-rgb), 0.4), rgba(var(--background-color-secondary-rgb), 0.4)), url(../images/desc/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.advantages {
  margin-bottom: -30px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
}

.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-btn-lite);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }
  .advantages__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  .advantages__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.section--missing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--missing {
    display: block;
  }
  .our-work {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
  }
  .our-work__item {
    position: relative;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
  }
  .our-work__label {
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color-lite);
    background: rgba(var(--background-color-secondary-rgb), 0.8);
  }
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--tertiary-color-lite);
}

.our-team__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-team__person {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .our-team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
/*# sourceMappingURL=main.css.map */