:root {
    --font-family-primery: "Roboto", sans-serif;
    --font-family-secondary: "Raleway", sans-serif;

    --text-color-primery-dark: #212121;
    --primery-color-dark-rgb: 33, 33, 33;
    --text-color-secondary-medium: #757575;
    --secondary-color-medium-rgb: 117, 117, 117;
    --tertiary-color-lite: #ffffff;
    --tertiary-color-lite-rgb: 255, 255, 255;
    --text-color-accent: #2196f3;
    --text-color-accent-rgb: 33, 150, 243;
    --background-color-hero: #c4c4c4;
    --background-color-active-btn: #188ce8;
    --background-color-btn-lite: #f5f4fa;
    --background-color-secondary: #2f303a;
    --background-color-secondary-rgb: 47, 48, 58; 
    --temporary-color: #000000;
    --temporary-color-rgb: 0, 0, 0;
    --shadow-color-btn: rgba(0, 0, 0, 0.25);
    --border-color: #eeeeee;
    --border-color-header: #ececec;
    --icon-color-primery: #afb1b8;
  }