// .clients {
//   display: flex;
//   justify-content: space-between;
//   margin-left: -30px;
  
//   &__item {
//     flex-basis: calc((100% - 180px) / 5);
//     margin-left: 30px;
//   }
  
//   &__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // width: 170px;
//     height: 92px;
//     border: 1px solid var(--icon-color-primery);
//     box-sizing: border-box;
//     border-radius: 4px;
//     fill: var(--icon-color-primery);
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       fill: var(--text-color-accent);
//       border: 1px solid var(--text-color-accent);
//     }
//   }
// }


  