// .footer {
//   background-color: var(--background-color-secondary);
//   padding-bottom: 60px;
//   padding-top: 60px;
// }
// .footer__container {
//   align-items: baseline;
//   display: flex;
// }
// .foter__section {
//   margin-right: 70px;
// }
// .footer__address {
//   margin-top: 20px;
// }
  
// .footer__list {
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
// }
// .footer__item:not(:last-child) {
//   margin-bottom: 10px;
// }
  
// .footer__addresses-link {
//   color: var(--tertiary-color-lite);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .footer__contact-link {
//   color: rgba(var(--tertiary-color-lite-rgb), 0.6);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

  
// .foter__section-title {
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   color: var(--tertiary-color-lite);
//   margin-bottom: 20px;
// }
// .foter-subscription{
//   margin-left: auto;
// }
// .foter-subscription__field {
//   display: inline-block;
//   margin-right: 10px;
// }
// .foter-subscription__input{
//   width: 358px;
//   height: 50px;
//   padding-left: 16px;
//   border: 1px solid rgba(var(--tertiary-color-lite-rgb), 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(var(--temporary-color-rgb), 0.15));
//   border-radius: 4px;
//   background-color: transparent;
//   font-family: var(--font-family-primery);
//   font-size: 16px;
//   line-height: 1.25em;
//   letter-spacing: 0.03em;
//   color: rgba(var(--tertiary-color-lite-rgb), 0.6);
// }
// .foter-subscription__input::placeholder{
//   font-size: 16px;
//   line-height: 1.25em;
//   letter-spacing: 0.03em;
//   color: rgba(var(--tertiary-color-lite-rgb), 0.6);
// }
// .foter-subscription__btn{
//   display: inline-flex;
//   align-items: center;
//   font-family: var(--font-family-primery);
//   padding: 10px 29px;
//   filter: drop-shadow(0px 4px 4px var(--shadow-color-btn));
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .foter-subscription__icon{
//   fill: currentColor;
//   margin-left: 10px;
// }

