.header {
    border-bottom: 1px solid var(--border-color-header);
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
.header__container {
    display: flex;
    justify-content: space-between;
  }