
.our-team {

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--tertiary-color-lite);
  }
  &__person {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  &__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color-secondary-medium);
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
    .our-team {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
        &__item {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-bottom: 30px;
        }
    }
}
@media screen and (min-width:1200px) {
    .our-team__item {
        flex-basis: calc((100% - 120px) / 4);
        }
}


// .our-team {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;

//   &__item {
//     flex-basis: calc((100% - 120px) / 4);
//     margin-left: 30px;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     background-color: var(--tertiary-color-lite);
//   }
//   &__person {
//     padding-top: 30px;
//     padding-bottom: 30px;
//     text-align: center;
//   }
//   &__title {
//     margin-bottom: 10px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//   }
//   &__text {
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--text-color-secondary-medium);
//     margin-bottom: 16px;
//   }
// }