@media screen and (max-width: 1199px) {
    .our-work {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .our-work {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;

    &__item {
        position: relative;
        flex-basis: calc((100% - 90px) / 3);
        margin-left: 30px;
    }
    &__label {
        position: absolute;
        display: flex;
        bottom: 0px;
        width: 100%;
        height: 70px;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        color: var(--tertiary-color-lite);
        background: rgba(var(--background-color-secondary-rgb), 0.8);
    }
    }
}

// .our-work {
//   display: flex;
//   justify-content: space-between;
//   margin-left: -30px;

//   &__item {
//     position: relative;
//     flex-basis: calc((100% - 90px) / 3);
//     margin-left: 30px;
//   }
//   &__label {
//     position: absolute;
//     display: flex;
//     bottom: 0px;
//     width: 100%;
//     height: 70px;
//     font-size: 14px;
//     line-height: 1.14em;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     justify-content: center;
//     align-items: center;
//     color: var(--tertiary-color-lite);
//     background: rgba(var(--background-color-secondary-rgb), 0.8);
//   }
// }