.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--temporary-color-rgb), 0.2);
  transition: opacity 250ms cubic-bezie+r(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow:auto;
 }
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  padding: 40px;
  border-radius: 4px;
  background-color: var(--tertiary-color-lite);
  box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.25);

}

.modal-btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(var(--temporary-color-rgb), 0.1);
  border-radius: 50%;
  background-color: transparent;
  &:focus{
    outline: none;
  }
}
.modal-btn-close .icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
  fill: var(--text-color-accent);
}


.contact-form-appeal{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primery-dark);
}

.contact-form {
  &__field {
    display: block;
    margin-bottom: 20px;
  }
  &__item {
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    color: var(--text-color-secondary-medium);
    }
  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      outline: none;
      border-color: var(--text-color-accent);
    }
  }
  &__icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__comment{
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    border: 1px solid rgba(var(--primery-color-dark-rgb), 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder{
      color: rgba(var(--secondary-color-medium-rgb), 0.5);
      font-size: 12px;
      line-height: 1.17em;
    }
    &:focus{
      outline: none;
      border-color: var(--text-color-accent);
    }
  }
  &__input-wrapper{
    position: relative;
    display: block;
    margin-top: 4px;
  }
  &__checkbox-wrapper{
    margin-bottom: 30px;
  }
}
.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary-medium);
  &::before {
    display: inline-block;
    margin-right: 8px;
    content: " ";
    width: 16px;
    height: 15px;
    border-radius: 2px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/svg/modal-icon-check.svg");
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
.contact-form__submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 56px;
    box-shadow: 0px 4px 4px rgba(var(--temporary-color-rgb), 0.15);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--text-color-accent);
}

.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-color: var(--text-color-accent);
  background-image: url("../images/svg/modal-icon-check-active.svg");
}

.agreement-conditions-link{
  color: var(--text-color-accent);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px; 
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;

  }
}


@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .contact-form-appeal{
    line-height: 1.15em;
  }
  .contact-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71em;
  }
}
