body {
    font-family: var(--font-family-primery);
    color: var(--text-color-primery-dark);
  }
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
li {
    list-style: none;
  }
  
a {
  text-decoration: none;
  color: currentColor;
  &:hover,
  &:focus {
    color: var(--text-color-accent);
   }
  }